.Footer 
    .Footer__Logo 
        img(src='/assets/logo.jpg' class='Footer__Img' alt="花朵圖片")
    hr.Footer__Hr
    ul.Footer__Nav
        li= '訂購須知'
        li= '商品退換'
        li= '配送服務'
        li= '服務條款'
        li= '隱私政策'
    p.Footer__Par= `@lukeSUN florist`
    .Footer__SocialMedia= '社群媒體'