

header
    .Navigation
        .Navigation__Photo
            a(href='/')
                img(class='Navigation__Img' src='/assets/logo.jpg' alt='花店標誌')
        ul.Navigation__Navbar
            li.Navigation__NavbarItem
                a(href='/story')= '品牌故事'
            li.Navigation__NavbarItem
                a(href='/dried')= '乾燥花束'
            li.Navigation__NavbarItem
                a(href='/fresh')= '花籃 | 花束'
            li.Navigation__NavbarItem
                a(href='/orchid')= '蘭花 | 盆花'
            li.Navigation__NavbarItem
                a(href='/signup')= '加入會員'
            if user
                li.Navigation__NavbarItem
                    a.nav__el--logout= '登出網站'
                li.Navigation__NavbarItem
                    a.nav__el(href='/me')
                        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`) 
                        span= `${user.name} 使用者 您好`

            else 
                li.Navigation__NavbarItem
                    a(href='/login')= '登入會員'

    .navi
        input#navi-toggle.navi_checkbox(type= 'checkbox')
        label.navi_button(for='navi-toggle')
            span.navi_icon &nbsp;

        .navi_background &nbsp;
        nav.navi_nav
            ul.navi_list
                li.navi_item
                    a.navi_link(href='/')= '品牌故事'
                li.navi_item
                    a.navi_link(href='/')= '乾燥花'

                li.navi_item
                    a.navi_link(href='/')= '鮮花'

                li.navi_item
                    a.navi_link(href='/')= '蘭花'

                li.navi_item
                    a.navi_link(href='/')= '加入會員'

                if user
                    a.nav__el(href='/me')
                        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`) 
                        span= `${user.name} 使用者 您好`

                else
                    li.navi_item
                    a.navi_link(href='/login')= '登入會員'



